.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.tools {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  margin-bottom: 8px;
}

.button {
  width: 45px;
  height: 45px;
  margin: 5px;
}

.button:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}

.undo {
  margin-right: 20px;
}

.buttonSelected {
  width: 45px;
  height: 45px;
  margin: 5px;
  border-width: 4px;
  border-style: solid;
  border-color: gold;
}
