.buttonsContainer {
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
}

.caption {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  min-height: 1.5em;
}

.button {
  background-color: white;
  font-size: x-large;
  font-weight: bold;
  width: 45px;
  height: 45px;
  margin: 20px;
  border-radius: 15px;
  border: none;
  background-color: gold;
  box-shadow: 0 5px darkgoldenrod;
}

.button:active {
  box-shadow: 0 1px darkgoldenrod;
  transform: translateY(4px);
}